/* CSS for header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

h2, h3, h4, h5 {
    font-size: 24px; /* Adjust the font size as needed */
}

header ul {
    list-style-type: none;
    padding: 0;
}

header ul li {
    display: inline;
    margin-right: 10px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}

header ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer .copyright {
    font-size: 14px;
}